<div style="border:3px solid green;height: 60vh;">
    <div class="title">
        Parent Component
    </div>

    <h4>Counter in Parent from Child component: {{counterFromChild}}</h4>

    <app-child #child [counterInChildfromParent]="counterInParent" (counterChangeEvent)="eventHandler($event)">
    </app-child>


    <h4>Counter in Parent Component : {{counterInParent}}</h4>
    <button type="button" class="btn btn-sm btn-success" (click)="increment()">Increment Counter </button> &nbsp;
    <button type="button" class="btn btn-sm btn-danger" (click)="decrement()">Decrement Counter</button>


    <span>{{child.counterInChild}}</span>
</div>