<div style="width: 100%;">

    <ul>
        <li class="menu-item" [routerLink]="'home'" [routerLinkActive]="'myactive'">Home </li>
        <li class="menu-item" [routerLink]="'lazy/parent-child'" [routerLinkActive]="'myactive'">Parent-Child </li>
        <li class="menu-item" [routerLink]="'databinding'" [routerLinkActive]="'myactive'">Data Binding </li>
        <li class="menu-item" [routerLink]="'lazy/directive-demo'" [routerLinkActive]="'myactive'">Directive </li>
        <li class="menu-item" [routerLink]="'products'" [routerLinkActive]="'myactive'">Products (Child Route Example)
        </li>
        <li class="menu-item" [routerLink]="'lifecyclehooks'" [routerLinkActive]="'myactive'">lifecycle hooks</li>

        <li class="menu-item" [routerLink]="'my-observable'" [routerLinkActive]="'myactive'">My Observable </li>
        <li class="menu-item" [routerLink]="'lazy/template-driven'" [routerLinkActive]="'myactive'">Template-driven Form
        </li>
        <li class="menu-item" [routerLink]="'lazy/reactive'" [routerLinkActive]="'myactive'"> Reactive Form </li>

    </ul>
</div>