<div style="border:4px solid blue; margin: 10px; height: 30vh;">
    <div class="title">
        Child Component
    </div>
    <h4>Counter in Child from Parent Component : {{counterInChildfromParent}}</h4>
    <hr>

    <h4>Counter in Child Component : {{counterInChild}}</h4>
    <button type="button" class="btn btn-sm btn-success" (click)="increment()">Increment Counter </button> &nbsp;
    <button type="button" class="btn btn-sm btn-danger" (click)="decrement()">Decrement Counter</button>

</div>